@use './responsive' as *;

@font-face{
    font-family: avenirRegular;
    src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face{
    font-family: avenirDemi;
    src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face{
    font-family: avenirBold;
    src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("opentype");
}

@mixin fontHeader{
    font-family: avenirBold;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet{
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

@mixin fontSubHeader{
    font-family: avenirDemi;
    font-size: 0.875rem;
    line-height: 1.375rem;

    @include tablet{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin fontBody{
    font-family: avenirRegular;
    font-size: 0.8125rem;
    line-height: 1.25rem;

    @include tablet{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin fontFooter{
    font-family: avenirRegular;
    font-size: 0.875rem;
}

@mixin fontLabels{
    font-family: avenirBold;
    font-size: 0.0625rem;
    line-height: 1.25rem;

    @include tablet{
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}