@use './responsive' as *;

@mixin paddingBefore{
    padding: 1.5rem 1rem 1rem;

    @include  tablet{
        padding: 3rem 2.25rem;
    }
}

@mixin paddingAfter($leftRightPadding){
    padding: 1rem $leftRightPadding;

    @include tablet{
        padding: 2.25rem $leftRightPadding;
    }
}