@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: avenir, Arial, Helvetica, sans-serif;
}

img {
  width: 100vw;
}

.bandsite--logo {
  width: 120px;
  height: 20px;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 9.375rem;
  }
}
.header .bandsite--logo {
  margin: 1rem 0 0.5rem;
}
@media (min-width: 768px) {
  .header .bandsite--logo {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .header__nav {
    width: 30vw;
    margin-left: 1.5rem;
  }
}
.header__list {
  display: flex;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .header__list {
    height: 100%;
  }
}
.header__page {
  list-style-type: none;
  box-sizing: border-box;
  padding-bottom: 0.6875rem;
  border-bottom: 5px solid transparent;
}
@media (min-width: 768px) {
  .header__page {
    margin: 0 1.5rem;
    width: auto;
    height: 100%;
    padding-bottom: 0;
    padding: 2rem 0 1.8125rem;
    border-bottom: 3px solid transparent;
  }
}
@media (min-width: 1280px) {
  .header__page {
    padding: 2.5rem 0;
  }
}
.header__page:hover {
  border-bottom: 5px solid #FFFFFF;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__page:hover {
    border-bottom: 3px solid #FFFFFF;
  }
}
.header__page:active {
  color: #FFFFFF;
  font-weight: 600;
}
.header--link {
  width: 50%;
  text-decoration: none;
  color: inherit;
}

.hero {
  background: url(../assets/images/hero-bio.jpg) center no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  width: 100%;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero {
    height: 85vh;
  }
}
.hero__text {
  font-family: avenir;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .hero__text {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    padding: 0 9.375rem;
  }
}

.about {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0 9.375rem;
  }
}
.about__header {
  font-family: avenir;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .about__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .about__header {
    font-size: 2.5rem;
    padding: 3rem 0 2rem;
  }
}
@media (min-width: 768px) {
  .about--body {
    padding: 0 3rem;
  }
}
@media (min-width: 1280px) {
  .about--body {
    padding: 0 5.4375rem;
  }
}
.about__image {
  width: 100%;
  height: 40%;
}
@media (min-width: 768px) {
  .about__image {
    height: 70%;
  }
}
.about__quote {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .about__quote {
    padding: 2rem 0 1.125rem;
  }
}
.about__quote--quote {
  font-family: avenir;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .about__quote--quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__quote--author {
  font-family: avenir;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .about__quote--author {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about .history {
  padding: 1rem 0;
}
.about .history__header {
  font-family: avenir;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .about .history__header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about .history__body {
    display: flex;
  }
}
.about .history__text {
  padding-right: 1rem;
  font-family: avenir;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .about .history__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .about .history__text {
    padding-right: 1.5rem;
  }
}
.about .history__text:first-child {
  margin-bottom: 16px;
}

.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 9.375rem;
  }
}
.gallery__title {
  font-family: avenir;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.5rem;
    padding: 2.25rem 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .gallery__photos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
}
.gallery__photo {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 31%;
    height: 160px;
    margin: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    height: 200px;
  }
}
.gallery__photo--shade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery__photo--shade:hover {
  background-color: rgba(0, 0, 0, 0);
}
.gallery__photo1 {
  background: url(../assets/images/Photo-gallery-1.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo2 {
  background: url(../assets/images/Photo-gallery-2.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo3 {
  background: url(../assets/images/Photo-gallery-3.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo4 {
  background: url(../assets/images/Photo-gallery-4.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo5 {
  background: url(../assets/images/Photo-gallery-5.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo6 {
  background: url(../assets/images/Photo-gallery-6.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo7 {
  background: url(../assets/images/Photo-gallery-7.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo8 {
  background: url(../assets/images/Photo-gallery-8.jpg) no-repeat;
  background-size: 100% 100%;
}
.gallery__photo9 {
  background: url(../assets/images/Photo-gallery-9.jpg) no-repeat;
  background-size: 100% 100%;
}

.comments {
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .comments {
    padding: 3rem 2.25rem;
  }
}
.comments__header {
  font-family: avenir;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comments__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .comments__header {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
.comments__divider {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments__divider {
    padding: 2.25rem 0;
  }
}
@media (min-width: 768px) {
  .comments__divider {
    width: 600px;
    margin: 0 auto;
  }
}
.comments__container {
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments__container {
    padding: 2.25rem 0;
  }
}
.comments__container .comments__photo {
  margin: 0 1rem 0 0;
}
@media (min-width: 768px) {
  .comments__container {
    width: 600px;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}
.comments__info {
  font-family: avenir;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  width: 100%;
  padding: 0 0.25rem;
}
@media (min-width: 768px) {
  .comments__info {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__form {
  width: 100%;
}
.comments--input {
  width: 100%;
  border-radius: 4px;
  height: 36px;
  padding: 0.75rem;
  margin: 0.25rem 0 1rem;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .comments--input {
    height: 48px;
    padding: 1rem;
  }
}
.comments--input:active {
  border: 1px solid #323232;
}
.comments--input::-moz-placeholder {
  color: #323232;
}
.comments--input::placeholder {
  color: #323232;
}
.comments__label {
  font-family: avenir;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #AFAFAF;
  display: block;
}
@media (min-width: 768px) {
  .comments__label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.comments__comment {
  height: 100px;
  overflow-wrap: break-word;
}
.comments__button {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
  text-transform: uppercase;
  display: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .comments__button {
    width: 150px;
  }
}
.comments__photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 1.5rem 1rem 0 0;
  background-color: #AFAFAF;
}
@media (min-width: 768px) {
  .comments__photo {
    min-width: 48px;
    height: 48px;
  }
}
.comments--flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}
.comments__name {
  font-weight: 600;
}
.comments__date {
  color: #AFAFAF;
}

.info {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .info {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .info {
    padding: 0 9.375rem;
  }
}
.info--div {
  position: relative;
}
@media (min-width: 768px) {
  .info--div .bandsite--logo {
    position: absolute;
    top: 12px;
    right: 0;
  }
}
@media (min-width: 768px) {
  .info--bar {
    display: flex;
    align-items: center;
    padding: 3rem 0 1.5rem;
  }
}
.info__header {
  font-family: avenir;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 1.75rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .info__header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .info__header {
    padding-top: 0;
    font-size: 2.25rem;
  }
}
.info__socials {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 140px;
}
@media (min-width: 768px) {
  .info__socials {
    margin: 0 3.5rem;
  }
}
.info__socials--icon {
  height: 25px;
  width: 25px;
}
.info__affiliates {
  font-family: avenir;
  font-weight: 400;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .info__affiliates {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .info__affiliates {
    width: 70%;
  }
}
.info__affiliates--subheader {
  font-family: avenir;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .info__affiliates--subheader {
    padding: 1.5rem 0;
  }
}
.info__affiliates--body {
  margin-bottom: 0.25rem;
}
.info__affiliates--email {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .info__affiliates--email {
    padding: 1.5rem 0;
  }
}
.info .bandsite--logo {
  margin: 3rem 0px 1rem;
}
.info__copyright {
  font-family: avenir;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  padding: 0 0 2rem;
}
@media (min-width: 768px) {
  .info__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .info__copyright {
    padding: 1.5rem 0 3rem;
  }
}
@media (min-width: 768px) {
  .info--section {
    padding-right: 4.5rem;
  }
}/*# sourceMappingURL=bio.css.map */